body {
    background-color: rgb(48, 47, 47);
    color: whitesmoke;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

 
.title {
    background-color: brown;
    border-radius: 15px;
    border: solid black;
    width: fit-content;
    text-align: center;
    margin: auto; 
    padding: auto;
}

.work-entry {
    background-color: darkred;
    border-radius: 15px;
    border: solid black;
    width: 95%;
    float: left;
    margin: 15px; 
    padding: 15px;
}

.work-entry p {
    float: left;
    text-align: left;
    font-size: 14pt;
    border-top: solid black;
    border-bottom: solid black;
    width:100%;
    margin-top: 5px;
    
}

.work-entry h3{
    margin: auto;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    background-color: black;
    border-radius: 15px;
    border: solid black;
    width: fit-content;
    text-align: center;
}


.work-entry h4{
    float: right;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgb(60, 0, 0);
    border-radius: 15px;
    border: solid black;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
}

#answer {
    float: left;
    margin: 5px;
    padding: 5px;
    background-color: rgb(60, 0, 0);
    border-radius: 15px;
    border: solid black;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
}

#topLeft {
    left: 0;
    top: 0;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#mainDiv {
    width:85%;
    float:right
}

#menuDiv {
    float: left;
    width: 15%;
}

.square-box p{
    background-color: brown;
    width: auto;
    height: inherit;
    padding: 2px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    border-top: solid black 3px;
    border-right: solid black 3px;
    border-bottom: solid black 3px;

}

.square-box p:hover {
    background-color: lightcoral;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.text-post {
    margin:25px;
    padding:25px;
    border-radius: 15px;
    background-color: brown;
    font-size: 20px;
    text-align:left;
    border: solid black;
    border-width: 5px;
}

ol li {
    margin: 5px;
    padding: 5px; 
    border: solid black 3px;
    list-style-type: none;  
}

ol li:nth-child(2n){
    background-color: coral;    
}
ol li:nth-child(2n + 1){
    background-color: darkred; 

}

ul li{
    list-style-type:none;
    text-align: left;
    margin: 5px;
    padding: 5px; 
    border: solid black 3px;  
}

ul li:nth-child(2n){
    background-color: coral; 

}
ul li:nth-child(2n + 1){
    background-color: darkred;  

}
