<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>About Dylan</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../style.css" />
		<script src="https://unpkg.com/vue@next"></script>

    
    </head>

    <body>
    <div>
      <div id="menuDiv">
      <img src="docs/assets/images/profile.png" id="topLeft">
      <div class="square-box">
      <a href="../index.html" ><p>HOME</p></a>
      <a href="about.html" ><p>ABOUT ME</p></a>
      <a href="history.html" ><p>WORK HISTORY</p></a>
      <a href="flights.html" ><p>FLIGHT PRICE APP</p></a>
      <a href="weather.html" ><p>5 DAY FORCAST APP</p></a>
      <a href="mailto: dyl2elite@gmail.com" ><p>EMAIL ME</p></a>
      </div>
    </div>
    <div id="mainDiv">
        <h1 class="title">&nbsp;ABOUT ME&nbsp; </h1>
    <div>
      <p class="text-post">Welcome to the webpage of Dylan Spencer! Dylan is a current
        student at Utah State University. He is currently studying computer science
        and is set to graduate May of 2024. He loves watching the NBA and playing card
        and board games. Dylan is currently working as a software engineer intern at the 
        Hill Air Force Base on the F-35 mission planning team.
      </p>
    </div>
    <div style="width: 50%; float: left;">
      <h4 class="title">&nbsp;Technical Skills:&nbsp;</h4>
      <ol class="text-post" style="margin:15px">
        <li>Java</li>
        <li>Python</li>
        <li>C++</li>
        <li>C</li>
        <li>Html and Css (obviously)</li>
        <li>Javascript</li>
        <li>React and Vue.js</li>
      </ol>
    </div>
    <div style="width: 50%; float: right;">
      <h4 class="title">&nbsp;Fun facts & Achievments:&nbsp;</h4>
      <ol class="text-post" style="margin:15px">
        <li>Current 3.95 GPA</li>
        <li>2nd Place in USU CTF competition</li>
        <li>Was the assembies SBO officer in Highschool</li>
        <li>Severed as a missionary for the Chruch of Jesus Christ of Latter-Day Saints in Argentina</li>
        <li>Can do a rubix cube in under 2 minutes</li>
        <li>Speaks fulent spanish</li>
        <li>loves playing pickelball</li>
      </ol>
    </div>
  </div>
  <div id="mainDiv">
    <h4 class="title">&nbsp;2 Truths and 1 Lie:&nbsp;</h4>
    <div class="text-post">
        <ol style="margin:15px;">
            <li style="list-style-type: decimal;">I Got married at 20 years old</li>
            <li style="list-style-type: decimal;">I Have never broken a bone</li>
            <li style="list-style-type: decimal;">I hate rollercoasters</li>
        </ol>
        <p>Guess the Lie:</p>
        <form>
            <select>
                <option>#1</option>
                <option>#2</option>
                <option>#3</option>
            </select>
            <button>Vote</button>
        </form>
    </div>
  </div>
  </div>
  </body>
</html>

