<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Flights From Utah</title>
		<meta charset="utf-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="../style/flight.css" rel="stylesheet">
	</head>

	<body style="background-color:rgb(188, 204, 204);">
		<script src="../js/flight.js"> </script>
		<div class="HeaderBox">
		<h1 class="Title">Utah Flights(NOT FINISHED)</h1>
		</div>
		<div class="Form-Box">
			<form>
				<label>Choose start point</label>
				<select id="from">
					<option id="SLC">SLC International</option>
					<option id="PVU">Provo</option>
					<option id="OGD">Ogden Regional</option>
				</select>
				<label >Enter a Destination: </label>
				<select id ="to">
					<option id="AZ">Arizona</option>
					<option id="NV">Nevada</option>
					<option id="CA">California</option>
					<option id="CO">Colorado</option>
					<option id="ID">Idaho</option>
					<option id="OR">Oregon</option>
					<option id="WA">Washington</option>
				</select>
				<label >Start Date: </label>
				<input type="date" id="start">
				<label >End Date: </label>
				<input type="date" id="end">
				<input class="button" type="button" onClick="clickFly();" value="FLY!">
				

			</form>
		</div>

		<div class="Form-Box" style="background-color:tan">
			<h3>San Diego</h3>
			<h5>Delta -- $250</h5>
			<p>Departure: SLC 6/22/22 at 7:30 P.M. (MST) </p>
			<p>Arrival: John-Wayne 6/22/22 9:45 P.M (MST)</p>
			<a href="delta.com">Buy Tickets</a>
		</div>
		<a class="back-button" href="../index.html">Back HOME</a>

	</body>
</html>
