<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>About Dylan</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../style.css" />
		<script src="https://unpkg.com/vue@next"></script>

    
    </head>

    <body>
		<div>
            <div id="menuDiv">
                <img src="docs/assets/images/profile.png" id="topLeft">
                <div class="square-box">
                    <a href="../index.html" ><p>HOME</p></a>
                    <a href="about.html" ><p>ABOUT ME</p></a>
                    <a href="history.html" ><p>WORK HISTORY</p></a>
                    <a href="flights.html" ><p>FLIGHT PRICE APP</p></a>
                    <a href="weather.html" ><p>5 DAY FORCAST APP</p></a>
                    <a href="mailto: dyl2elite@gmail.com" ><p>EMAIL ME</p></a>
                </div>
            </div>
            <div id="mainDiv">
		        <h1 class="title">&nbsp;WORK HISTORY&nbsp; </h1>

                <div class ="work-entry">
                    <h3>Hill Air Force Base:</h3>
                    <h4>June 2022 - August 2022</h4>
                    <p>Title: Software engineer intern</p>
                    <p>Description: Worked on team that designed the front-end and back-end for a 
                        web application that F-35 pilots use to schedule and plan radio frequencies for 
                        different flights and aircraft. Used React, Typescript and Java. Did some trainings in C++
                    </p>
                </div>

                <div class ="work-entry">
                    <h3>USU Facilities</h3>
                    <h4>October 2021 - June 2022</h4>
                    <h4>August 2020 - November 2020</h4>
                    <p>Title: Facilities team member</p>
                    <p>Description: Worked at Utah State University as a janitor for facilities. I was 
                        assigned to the specturm cluster. Did detailing, bathrooms, vaccumming and basic cleaning duties
                    </p>
                </div>

                <div class ="work-entry">
                    <h3>IFIT Customer Service:</h3>
                    <h4>November 2020 - October 2021</h4>
                    <p>Title: Customer Service Representative</p>
                    <p>Description: Worked at a call center, taking calls from IFIT customers. Troubleshooted 
                        with members about their fitness equipment and did what was necessary to get their equipment fixed.
                    </p>
                </div>

                <div class ="work-entry">
                    <h3>Walmart Distribution Center:</h3>
                    <h4>March 2020 - Augus 2020</h4>
                    <p>Title: Case slot warehouse worker</p>
                    <p>Description: Worked on the conveyor belt throwing packages to trailers
                        to be shipped to walmarts around Utah. 
                    </p>
                </div>

                <div class ="work-entry">
                    <h3>HomeTown Pizza:</h3>
                    <h4> September 2016 - Janurary 2017</h4>
                    <p>Title: Pizza Delivery guy</p>
                    <p>Description: Worked at a local pizza place and delivered pizzas
                    </p>
                </div>

                <div class ="work-entry">
                    <h3>The Shack:</h3>
                    <h4> March 2015 - August 2017</h4>
                    <p>Title: Shave Ice Barista / Manager</p>
                    <p>Description: Worked at a shave ice shack making shave ice. Also helped manage the 
                        business and trained multiple employees
                    </p>
                </div>


            </div>
		</div>
	</body>
</html>

