<!DOCTYPE html>

<html lang="en">

	<head>
		<title>Weather App</title>
		<meta charset="utf-8">
		<link href="../style/weather.css" rel="stylesheet">
		<script src="https://unpkg.com/vue@next"></script>
		<script src="../js/weather.js" defer> </script>
	</head>

	<body style="background-color:bisque">
		<div class="orange stuff-box shadowed">
			<h1>Vue.JS Weather App</h1>
            <a href="../index.html">Back To Home</a>
		</div>

		<div id="current-location" class="shadowed light_blue stuff-box shadowed">
			<h2>Your location</h2>
			<p v-if="!done">Loading...</p>
			<p v-else-if="iserror">{{ error }}</p>
			<p v-else>Your are located at {{city}}, {{region}}, {{country}} at coordinates ({{lat}}, {{lon}})</p>
		</div>

		<div id="current-conditions" class="shadowed blue stuff-box shadowed">
			<h2>Current conditions</h2>
			<p v-if="done">Current weather conditions at: {{ date }}</p>
			<p v-else-if="iserror">{{ error }}</p>
			<p v-else >Getting data from location....</p>
			<ul v-if="done">
				<li>Currently: {{ temp }}F</li>
				<li>high: {{ hi }}F</li>
				<li>low: {{ low }}F</li>
				<li>{{ weather }} </li>
				<li>{{ hum }}% humidity</li>
				<li>{{ pres }} hPa pressure</li>
			</ul>

		</div>

		<div id="fourtyday" class="white stuff-box shadowed">
			<h2>5 day 3-hour forecast</h2>
			<p v-if="!done">Loading...</p>
			<p v-else-if="iserror">{{ error }}</p>
			<p v-else id="probab_totals">
				<span style="color: white;">Neutral: {{data.neutralTotal}}</span> <span style="color: green;">Likely: {{data.likelyTotal}}</span> <span style="color: red;">Unlikely: {{data.unlikelyTotal}}</span></p>
			
			<div v-if="!done">Loading...</div>

			<div v-for="(obj, index) in data.conditions" class="stuff-box shadowed"
				:class="{black: obj.state == 'neutral', green: obj.state == 'likely', red: obj.state == 'unlikely' }"
				:data-index="index"
				@click="forecastToggle">

				<h3>Conditions for {{obj.time}}</h3>
				<ul>
					<li>temperature: {{obj.temp}}F</li>
					<li>high: {{ obj.hi }}F</li>
					<li>low: {{ obj.low }}F</li>
					<li>{{obj.weather}}</li>
					<li>{{obj.humidity}}% humidity</li>
					<li>{{obj.pressure}} hPa</li>
				</ul>
			</div>
			
		</div>
	</body>
</html>
